include ./includes/html-header
<main>
    include ./includes/d3-basic-bars
    include ./includes/d3-bars-and-axes
    include ./includes/d3-circle-and-animations
</main>
include ./includes/html-footer